*.*
!*.md
!manifest.json
!modlist.html
!*/
!config/
!config/**
!.github/
!.github/**
!runners/
!runners/**
config/roughlyenoughitems
!defaultconfigs/
!defaultconfigs/**
!scripts/
!scripts/**
!kubejs/
!kubejs/**
!.gitignore
test.*
example.*
*.txt
/logs
/local
/modernfix
/mods
/aes
/.probe
/.vscode
/crash-reports
/data
/ldlib
/saves
/screenshots
/shaderpacks
/resourcepacks
config/oculus.properties
