*.*
!*.md
!*/
!config/
!config/**
config/roughlyenoughitems
!defaultconfigs/
!defaultconfigs/**
!scripts/
!scripts/**
!kubejs/
!kubejs/**
!.gitignore
test.*
example.*
*.txt
/logs
/local
/modernfix
/mods
/aes
/.probe
/.vscode
/crash-reports
/data
/ldlib
/saves
/screenshots
/shaderpacks
/resourcepacks